# Deep Directories
**/node_modules

# Generated Directories
**/dist
**/.astro
**/.vscode
**/.wrangler
**/__coverage__

# Directories
.changeset

# Files
pnpm-lock.yaml
bun.lockb

# Test snapshots
**/__tests__/**/snapshots
