{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.astro"],
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": [".*", "*.json", "*.md", "*.toml", "*.yml"],
      "options": {
        "useTabs": false
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
