---
import { FooterDescription, Hide } from '~/config';
---

<footer class="mt-[3dvh] text-center lg:mt-[4dvh]" transition:persist>
	{!Hide.includes('footerDescription') && <p class="mb-[1dvh] lg:mb-[2dvh]">{FooterDescription}</p>}
	<p class="text-neutral-700 opacity-75 dark:text-neutral-300">
		&copy; {new Date().getFullYear()} Ladit. Powered by <a
			class="underline"
			href="https://astro.build"
			target="_blank"
			rel="noopener"
			aria-label="Read more about Astro">Astro</a
		>. <a
			class="underline"
			href="https://github.com/ladit/astro-blog-zozo"
			target="_blank"
			rel="noopener"
			aria-label="Read more about this theme">Theme</a
		> by Ladit.
	</p>
</footer>
