---
interface Props {
	currentNav?: string;
}
const { currentNav } = Astro.props;

const navs = [
	{ name: 'Home', href: '/' },
	{ name: 'Blog', href: '/blog' },
	{ name: 'Tags', href: '/tags' },
	{ name: 'Archives', href: '/archives' },
	{ name: 'About', href: '/about' },
];
---

<nav>
	<ul class="flex flex-col gap-3 font-default-sans lg:flex-row">
		{
			navs.map((nav) => (
				<li>
					<button
						type="button"
						class="text-neutral-700 opacity-75 aria-pressed:opacity-100 hover:opacity-100 dark:text-neutral-50"
						aria-pressed={currentNav === nav.name ? 'true' : 'false'}
						aria-label={`Navigate to ${nav.name}`}
						data-nav={nav.name}
					>
						<a href={nav.href}>{nav.name}</a>
					</button>
				</li>
			))
		}
	</ul>
</nav>
